html {
    overflow-x: hidden;
    width: 200%;
}

body{
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

/*
    Top menu follows
*/
#menu {
    width: 90%;
    position: fixed;
    z-index: 6;
    top: 0;
}

.menu-item-mobile {
    display: none;
}

.menu-item {
    float: left;
    width: 33.3%;
    text-align: center;
}

.menu-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1vw;
    color: black;
    line-height: 0.8vw;
    display:inline-block;
    background-color: white;
    cursor: pointer;
}

.top_menu {
    background-color: white;
    position: fixed;
    left: 30%;
    top: 15%;
    z-index: 6;
    opacity: 1.0;
    visibility: hidden;
    width: 40%;
    font-size: 0.9em;
    font-family: 'Roboto Condensed', sans-serif;
}

#events {
    position: absolute;
}

#bio-content {
    padding-left: 5%;
}

#events-content {
    padding-left: 5%;
    padding-top: 3%;"
}

#contact-content {
    padding-left: 5%;
    padding-top: 3%;
}

#bio-text {
    width: 95%;
}

#events-text {
    padding-bottom: 3%;
    font-size: 0.8em;
}

#contact-text {
    padding-bottom: 3%;
}


/*
    Side navigation follows
*/
#vj-container {
    float: left;
    width: 50%;
    background: url('img/bcg/4_small.jpg') repeat-y top center;
    background-size: 100% auto;
    background-attachment: fixed;
    height: auto;
}

.nav-container {
    float: right;
    width: 3%;
}

#nav-video {
    float: left;
    width: 50%;
    height: 100%;
    padding-top: 3vw;
}

.video-nav-img {
    margin-left: 5px;
}

#nav-theatre {
    float: left;
    width: 50%;
    height: 100%;
    background-color: white;
    padding-top: 4.8vw;
}

.rotate {
    margin-top: 5em;
    cursor: pointer;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.menu-text-nav {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4vw;
    font-weight: bold;
    color: black;
    line-height: 0.9vw;
    padding: 1px 0.4em 0 0.4em;
    display:inline-block;
    background-color: white;
    cursor: pointer;
}

#vj-main {
    width: 87%;
    float: left;
    padding-top: 4%;
    padding-right: 5%;
    padding-left: 5%;
}

#vj-content {
    width: 100%;
}

.vj-item {
    width: 100%;
    margin-bottom: 55px;
}

.video-youtube {
    position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-youtube iframe, .video-youtube object, .video-youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yt {
    width: 100%;
}

.theatre-nav-img {
    margin-left: 5px;
}

#theatre-container {
    float: left;
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
}

#theatre-main {
    width: 100%;
    float: left;
    #width: 100%;
    padding-top: 45px; /*reduced by the theatre-plays own padding-top*/
    padding-right: 50px;
    padding-left: 50px;
}

#theatre-content {
/*will stretch according to what is inside*/
}

#theatre-menu {
    font-size: 17px;
    text-align: right;
    position: fixed;
    top: 150px;
    right: 180px;
    z-index: 5;
    opacity: 1.0;
    visibility: hidden;
}

#language-menu {
    font-size: 17px;
    text-align: right;
    position: fixed;
    bottom: 150px;
    right: 180px;
    z-index: 5;
    opacity: 1.0;
    visibility: hidden;
}

.menu-link-div {
    padding-bottom: 8px;
}

.menu-link-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
    line-height: 13px;
    padding: 1px 0 0px 0;
    display: inline-block;
    color: white;
    background-color: black;
}

.menu-link {
    line-height:11px;
    padding: 0px 0 1px 0;
    display:inline-block;
    background-color: white;
    cursor: pointer;
}

.menu-link:hover {
    text-decoration: line-through;
}

.theatre-play {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 500px;
    margin-left: 120px;
}

.play-heading {
    width: 80%;
    padding-bottom: 20px;
    font-size: 90px;
}

.play-body {
    padding-bottom: 30px;
}

.play-left {
    float:left;
    width: 40%;
}

.play-left-roles-container {
    margin-bottom: 250px;
}

.play-left-roles {
    width: 50%;
}

.play-left-desc {
    width: 130%;
    position: relative; # to use z-index
}

.play-desc {
    background-color: white;
    line-height: 25px;
}

.play-right {
    float: left;
    z-index: 1;
    width: 40%;
}

.play-image {
    z-index: 1;
    width: 100%;
}

.sk {
    display: none;
}

.sk-span {
    display: none;
}

.year {
    font-size: 15px;
    font-weight: bold;
}

a.events {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}

.gallery {
  margin-bottom: 55px;
  width: 100%;
}

.gallery > div {
    width: 33.33%;
    position: relative;
    float: left;
}

.yt-img {
    width: 100%;
}

.gallery > div > img {
  display: block;
  transition: transform 100ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 100ms ease-in-out 0s;
  transform: translateZ(0);
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(2,2);
  transition: transform 300ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

/*
theatre gallery follows
*/
.theatre-gallery {
    margin-bottom: 55px;
    width: 88%;
}

.theatre-gallery > div {
    width: 33.33%;
    position: relative;
    float: left;
}

.theatre-gallery > div > img {
  display: block;
  transition: transform 100ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 100ms ease-in-out 0s;
  transform: translateZ(0);
}

.theatre-gallery > div:hover {
  z-index: 1;
}

.theatre-gallery > div:hover > img {
  transform: scale(2,2);
  transition: transform 300ms ease-in-out 0s;
  -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
}

.theatre-yt-img {
    width: 100%;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

#footer {
    font-size: 15px;
    padding-left: 2%;
    width: 200%;
    height: 1em;
    background-color: white;
}


/* mailchimp style */
#mc_embed_signup{
    clear: left;
    width: 100%;
}

#mc_embed_signup form {
    text-align: left;
    padding: 20px 0 10px 0;
}

.mc-field-group {
    display: inline;
}

/* positions input field horizontally */
#mc_embed_signup input.email {
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing:border-box;
    height: 20px;
    padding: 0px 0.4em;
    display: inline;
    margin: 0;
    width: 200px;
    vertical-align:top;
}

#mc_embed_signup label {
    display:block;
    padding-bottom: 1%;
}

#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:20px; line-height: 20px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}
